.about-us {
  position: relative;
  display: grid;
  grid-column: 1 / -1;
  padding: 72px 16px;

  @include page-grid;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    top: 544px;
    left: 0;

    width: 320px;
    height: 300px;

    background: url(../images/bg/about-us-bg.svg) no-repeat center;
    background-size: contain;
  }

  @include on-tablet {
    padding: 152px 44px;

    &::before {
      top: 203px;
      width: 526px;
      height: 493px;
    }
  }

  @include on-mid-laptop {
    padding: 178px 44px 56px;
    &::before {
      top: 178px;
      left: 325px;
      width: 718px;
      height: 673px;
    }

    @include on-big-laptop {
      width: 1192px;
      padding: 178px 124px 56px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;

    display: grid;
    grid-column: 1 / -1;
    row-gap: 32px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      height: 216px;
      text-align: left;
    }

    @include on-mid-laptop {
      height: 120px;
      line-height: 150%;
      letter-spacing: -0.2px;
    }
  }

  &__stats {
    position: relative;
    z-index: 1;

    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 48px;

    padding: 64px 0 0;

    @include on-tablet {
      grid-column: span 8;
      grid-template-columns: repeat(4, 1fr);
      gap: 80px 24px;

      height: 308px;
      padding: 72px 0 0;
    }

    @include on-mid-laptop {
      grid-template-columns: repeat(8, 1fr);
      padding: 144px 0 0;
    }
  }
}

.stat {
  grid-column: span 2;

  &__number {
    margin: 0;

    font-size: 96px;
    font-weight: 400;
    line-height: 85%;
    text-transform: uppercase;
  }

  &__descrip {
    margin: 8px 0 0;
    color: #7f8096;
  }
}
