.container {
  @include container-padding;

  @include on-tablet {
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 44px;
  }

  @include on-mid-laptop {
    padding: 0 44px;
  }

  @include on-big-laptop {
    padding: 0 124px;
  }
}
