.header {
  box-sizing: border-box;

  @include on-tablet {
    height: 900px;
  }

  @include on-mid-laptop {
    height: 700px;
  }

  @include on-big-laptop {
    height: 674px;
  }

  &__bottom {
    height: 48px;

    @include content-padding-bottom;
  }

  &__center {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin: 0;

    @include text-header-style;

    letter-spacing: -1%;

    @include on-tablet {
      width: 280px;
    }
  }

  &__cookie {
    position: absolute;
    z-index: 1;

    width: 288px;
    height: 290px;
    padding: 140px 0 0;

    @include on-tablet {
      top: 16px;
      width: 326px;
      height: 328px;
      padding: 0;
    }

    @include on-mid-laptop {
      top: -193px;
      width: 544px;
      height: 546px;
      padding: 0;
    }

    @include on-big-laptop {
      width: 584px;
      height: 586px;
    }
  }

  &__title {
    position: relative;
    z-index: 2;

    width: 288px;
    height: 108px;
    margin: 0;
    padding: 32px 0 0;

    font-size: 64px;
    font-weight: 400;
    line-height: 85%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2.8px;

    @include on-tablet {
      width: 680px;
      height: 68px;
      padding: 146px 0 0;

      font-size: 80px;
      white-space: nowrap;
    }

    @include on-mid-laptop {
      width: 1112px;
      height: 116px;
      padding: 8px 0 0;
      font-size: 136px;
    }

    @include on-big-laptop {
      width: 1192px;
      height: 122px;
      padding: 40px 0 0;
      font-size: 144px;
    }
  }
}
