.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-position: center;
  background-size: cover;

  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  &--menu {
    cursor: pointer;
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    cursor: pointer;
    background-image: url(../images/icons/icon-close.svg);

    &:hover {
      background-image: url(../images/icons/icon-close-hover.svg);
    }
  }
}
