.main {
  padding: 64px 0 0;

  @include on-tablet {
    padding: 0;
  }

  @include on-mid-laptop {
    padding: 154px 0 0;
  }

  @include on-big-laptop {
    padding: 178px 0 0;
  }

  &__content {
    display: grid;
  }
}
