.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;

  height: 100vh;

  font-weight: 400;

  background-color: $main-bg-color;

  &__top {
    margin-bottom: 132px;
  }

  &__content {
    padding-inline: 16px;
  }
}

.burg-close__icon {
  display: flex;
  padding: 20px 16px;

  @include on-mid-laptop {
    display: none;
  }
}
