.nav {
  display: flex;
  justify-content: center;
  margin: 132px auto 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 0;
    padding: 0;

    text-align: center;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    align-items: center;
    font-weight: 400;
    text-align: center;

    @include hover(transform, scale(1.2));
  }

  &__link {
    font-size: 16px;
    line-height: 150%;
    color: inherit;
    text-decoration: none;
    letter-spacing: -1%;
  }

  &__item--us {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__contact {
    font-weight: 500;
    line-height: 100%;
    color: #f9512e;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2%;
  }
}
