.page {
  scroll-behavior: smooth;

  margin: 0;
  padding: 0;

  font-family: 'Inter ', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: $main-text-color;

  &__body {
    box-sizing: border-box;
    min-width: 320px;
    margin: 0;
    background-color: $main-bg-color;
  }

  &__menu {
    pointer-events: none;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
}
