.title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  word-spacing: -1px;

  &--1 {
    margin: 0;

    font-size: 48px;
    font-weight: 400;
    line-height: 85%;
    text-transform: uppercase;
    letter-spacing: -2.4px;

    @include on-tablet {
      font-size: 56px;
    }

    @include on-mid-laptop {
      font-size: 72px;
    }
  }

  &--text {
    margin: 0;
    padding: 24px 0 0;
    font-size: 16px;
  }

  &__gray {
    margin: 0;
    padding: 16px 0 0;

    font-weight: 500;
    color: #7f8096;
    text-transform: uppercase;
  }

  &__products {
    margin: 0;
    padding: 8px 0 0;
    font-weight: 400;
  }
}
